<nav >
    <div>
        <img src="https://cdn.brandfetch.io/idkuvXnjOH/theme/dark/symbol.svg?c=1dxbfHSJFAPEGdCLU4o5B" alt="Airbnb Logo">
    </div>
    <div class="searchhBar">
        <form>
            <input  type="text" placeholder="Anywhere" >
            <input  type="date" placeholder="Check-in">
            <input  type="date" placeholder="Check-out">
            <input class="guest"  type="number" placeholder="Guests" min="1">
            <i class="fa-solid fa-magnifying-glass"></i>
            
        </form>
    </div>
    <div class="profileDesktop">
        <i class="fa-solid fa-circle-user profileIcon"></i>
        <i class="fa-solid fa-bars profileIcon"></i>
    </div>
</nav>


<nav class="mobileNav">
    <div class="explore">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>Explore</span>
    </div>
    <div class="trips">
        <i class="fa-solid fa-suitcase-rolling"></i>
        <span>trips</span>
    </div>
    <div class="profile">
        <i class="fa-solid fa-circle-user"></i>
        <span>profile</span>
    </div>
</nav>