body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #FF5A5F, #FCB6B8);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    font-family: 'Segoe UI', sans-serif;
}

.login-container {
    display: flex;
    background-color: white;
    border-radius: 16px;
    padding: 40px 60px;
    gap: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 90%;

    .left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 150px;
            height: auto;
        }
    }

    .right {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            color: #484848;
            margin-bottom: 20px;
        }

        input {
            display: block;
            margin: 12px 0;
            width: 100%;
            border: 1px solid #dddddd;
            border-radius: 8px;
            font-size: 16px;
        }

        button {
            padding: 12px 24px;
            margin: 20px auto 0 auto;
            background-color: #FF5A5F;
            border: none;
            color: white;
            border-radius: 8px;
            display: block;
            cursor: pointer;
            font-size: 16px;
            min-width: 150px;

            &:hover {
                background-color: #e04e52;
            }
        }

        p {
            margin-top: 10px;

            a {
                text-decoration: none;
                color: #FF5A5F;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .login-container {
        flex-direction: column;
        padding: 30px 20px;
        gap: 30px;
        align-items: center;
    }

    .left,
    .right {
        flex: unset;
        width: 100%;
        max-width: 400px;
    }

    .left {
        img {
            width: 100px;
        }
    }

}

.input-wrapper {
    position: relative;
    width: 100%;

    i {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        font-size: 16px;
    }

    input {
        width: 100%;
        padding: 12px 12px 12px 44px;
        border: 1px solid #dddddd;
        border-radius: 8px;
        font-size: 16px;
    }
}