<body>
    <div class="login-container">
        <div class="left">
            <img class="logo" src="https://cdn.brandfetch.io/idkuvXnjOH/theme/dark/symbol.svg?c=1dxbfHSJFAPEGdCLU4o5B"
                alt="Airbnb Logo">
        </div>
        <div class="right">
            <h2>Log In</h2>
            <div class="input-wrapper">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" placeholder="Enter your Email">
            </div>

            <div class="input-wrapper">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Enter your Password">
            </div>

            <button>LOGIN</button>
            <br>
            <br>
            <p><a href="#"> Create Your Account -></a></p>
        </div>
    </div>
</body>